@import "tailwindcss";

@theme {
  --color-sage: #9AB59A;
  --color-sage-light: #C5D8C5;
  --color-sage-dark: #6D876D;
  --color-terracotta: #E29578;
  --color-terracotta-light: #FFCDB2;
  --color-terracotta-dark: #B56552;
  --color-slate: #5A6A7D;
  --color-offwhite: #FAF9F6;
  --color-sand: #F4ECE6;
  --color-info: #69b4db;
  --color-info-dark: #175373;
  --color-pink: #FF9AA2;
  --color-pink-dark: #FF6B6B;

  --color-background: var(--color-offwhite);
  --color-foreground: var(--color-slate);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased font-sans;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/60 backdrop-blur-lg border border-white/20 shadow-xl;
  }
  .glass-card {
    @apply bg-white/80 backdrop-blur-md rounded-3xl shadow-sm border border-white/50;
  }
}
